@{
    ViewBag.Title = "HW 7 - API";
}

<div class="text-center">
    <h2>Internet Language Translator</h2><br />
    <div class="col-lg-10">
        <form action="/" method="get">
            <input class="form-control" id="translate" placeholder="Translate" type="text" oninput="syncText('translate','destination')">
            <button type="submit" id="trans" value="Submit">Submit</button>
            <button type="reset" value="Clear" onclick="window.location.reload()">Clear</button>
            <br />

            <div id="tippitytype">

            </div><br /><br />

            <div id="searches">

            </div>
        </form>
    </div>
</div><br />

@section scripts
{
    <script type="text/javascript" src="~/Scripts/translate.js"></script>
}