.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.row {
    display: flex;
}

.column {
    margin-left: 25px;
    margin-right: 25px;
}

body {
    background-color: #efefef;
}

p {
  margin-left: 10px;
  margin-right: 10px;
}
