@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}

body{
    background-color: lightgrey;
}

.row{
    margin: 10px;
    padding: 10px;
}

.box{
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
    border-color: whitesmoke;
    padding: 5px;
}

#hello{
    text-align: center;
    color: aliceblue;
    background-color: darkred;
}

