@{
    ViewBag.Title = "Homework 4";
}

<div class="jumbotron">
    <h1>CS 460 - Homework Four</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Mile Converter</h2>
        <p>A simple(ish) miles to metric converter</p>
        <p><a class="btn btn-default" href="http://localhost:50716/Home/MileConverter">Convert! &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Color Creator</h2>
        <p>A color creator!</p>
        <p><a class="btn btn-default" href="http://localhost:50716/Home/Colors">Colors! &raquo;</a></p>
    </div>
</div>