@{
    ViewBag.Title = "Mile Converter";
}

<h1>Miles to Metric Converter</h1>


<form action="/Home/MileConverter" method="get">
    <div class="row">
        <div class="column1">
            <label for="miles">Enter miles: </label>
            <input type="number" step="any" name="miles" id="miles" />
        </div>
        <div class="column1">
            <h5>Select a unit: </h5>
            <label for="millimeters"><input type="radio" name="units" value="mm" /> Millimeters</label> <br />
            <label for="centimeters"><input type="radio" name="units" value="cm" /> Centimeters</label> <br />
            <label for="meters"><input type="radio" name="units" value="m" /> Meters</label> <br />
            <label for="kilometers"><input type="radio" name="units" value="km" /> Kilometers</label> <br />
            <input type="submit" value="CONVERT" />
        </div>
    </div>
</form>

<h3> @ViewBag.ConversionResults </h3>