@{
    ViewBag.Title = "Home Page";
}

<h1 align="center">Welcome to the Maintenance Request page</h1><br />

<br />
<div class="row">
    <div class="col-md-5">
        <p>This will take you to the maintenance request form</p>
        <p><a class="btn btn-primary btn-lg" href="http://localhost:57234/Home/SubmitRequest">Submit Request</a></p>
    </div>
    <div class="col-md-5">
        <p>This page will take you to see the current work order list.</p>
        <p><a class="btn btn-primary btn-lg" href="http://localhost:57234/Home/RequestQueue">What's the hold up?</a></p>
    </div>
</div>