@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-4">
        <h2>Welcome</h2>
        <p>
            If there is a problem you need fixed, please click below.
        </p>
        <p><a class="btn btn-default" href="">Request Form&raquo;</a></p>
    </div>
</div>