@model IEnumerable<Homework5.Models.RequestModel>

@{
    ViewBag.Title = "Request Order Form";
}

<table class="table">
    <tr>
        <td></td>
    </tr>


@foreach (var item in Model)
{

}
</table>