@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 style="text-align:center;">Welcome to Reginald's Ancient Antiques Auction House.</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-offset-2 col-md-8">
            <h3>Ready to get bidding?</h3>
            <br />
            <a href="@Url.Action("NewBid","Home")"><button type="button" class="btn btn-primary btn-lg">Bid on an Item!</button></a>
            <hr />
            <br />
            <h3>Take a look at the current list of items.</h3>
            <br />
            <a href="@Url.Action("Index","Items")"><button type="button" class="btn btn-primary btn-lg">Items</button></a>
        </div>
    </div>
</div>